body {
    background: #fff;
    padding: 0;
    margin: 0;
  }
  
  /* Outer container - the padding will keep the container the correct proportions for the video */
  .banner {
    position: relative;
    padding-bottom: 56.2%;
    width: 100%;
    overflow: hidden;
  }
  
  .videoembed {
    position: absolute;
    top: 0;
    left: 0; /* Ensure it covers the entire width */
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    background: #333;
    object-fit: cover; /* Ensure the video covers the container without distortion */
    z-index: -1; /* Ensure the video stays behind other content, adjust as needed */
}

  
  /* If you want to include the title... */
  .banner-title {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    padding: 20px 40px;
    text-align: center;
    box-sizing:border-box;
  }
  
  .banner-title h1 {
    color: #fff;
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
    font-weight: normal;
  }
  /* small calption - optional */
  .caption {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-style:italic;
  }